@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400..600&display=swap');

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
}

%dm-serif-display-regular {
  font-family: "DM Serif Display";
  line-height: 125%;
  letter-spacing: 0%;
  font-weight: 400;
  font-style: normal;
}