.blog-details {
    padding: 200px 0 100px 0;
    display: flex;
}

.details {
    display: flex;
    gap: 52px;
}

.article-content {
    padding-bottom: 27px;
    flex: 1 0 67%;

    &__title {
        color: $colorSelectGray;
        @extend %dm-serif-display-regular;
        font-size: 50px;
        letter-spacing: 2%;
        margin-bottom: 21px;
    }

    &__image {
        max-width: 800px;
        border-radius: 60px;
        overflow: hidden;
        margin-bottom: 46px;

        & img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__date {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        padding-right: 150px;

        & span {
            color: $colorSelectLightGray;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 1%;
            text-transform: capitalize;
        }
    }

    &__paragraph {
        color: $colorSelectLightGray;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 1%;
        margin-bottom: 40px;
    }

    &__quotes {
        padding: 53px 227px;
        border-radius: 50px;
        background: rgb(244, 240, 236);
        text-align: center;

        & blockquote {
            color: $colorSelectBrown;
            @extend %dm-serif-display-regular;
            font-style: italic;
            font-size: 25px;
            letter-spacing: 2%;
        }
    }

    &__list {
        list-style-type: none;
        counter-reset: num;
        // padding: 0 0 0 35px;
        // padding: 15px 0 5px 0;
        font-size: 18px;
    }

    &__list-item {
        color: $colorSelectLightGray;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 1%;
        margin-bottom: 32px;

        position: relative;
        padding: 0 0 10px 25px;

        &:before {
            content: counter(num);
            counter-increment: num;
            display: inline-block;
            position: absolute;
            left: 0;
            color: $colorSelectBrown;
            @extend %dm-serif-display-regular;
            font-size: 20px;
            letter-spacing: 2%;
        }
    }
}

.tags {
    flex: 0 0 25%;

    &__title {
        color: $colorSelectGray;
        @extend %dm-serif-display-regular;
        font-size: 25px;
        letter-spacing: 2%;
        margin-bottom: 24px;
    }

    &__btn {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;

        color: $colorSelectGray;
        font-size: 18px;
        letter-spacing: 2%;
        text-align: center;

        & input[type=radio] {
            display: none;
        }

        & label {
            display: inline-block;
            cursor: pointer;
            padding: 9px 30px;
            border-radius: 10px;
            user-select: none;
            background: rgb(244, 240, 236);
        }

        & input[type=radio]:checked+label {
            background: $colorSelectGray;
            color: rgb(255, 255, 255);
        }

        & label:hover {
            color: #666;
        }
    }
}