$widthSite: 1200px;
$colorSelectLightGray: #4D5053;
$colorSelectBrown: #CDA274;
$colorSelectGray: #292F36;

@import 'null_style';
@import 'mixins';
@import 'style_fonts';
@import 'home_page';
@import 'blog';
@import 'blog_details';

.center {
    @include center ($widthSite);
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.header {
    padding-top: 44px;
    padding-bottom: 57px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
        display: flex;
    }

    &__link {
        color: $colorSelectGray;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 0%;
        margin-right: 50px;
    }
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;

    &__icon {
        width: 34px;
        height: 34px;
    }

    &__title {
        color: $colorSelectGray;
        @extend %dm-serif-display-regular;
        font-size: 40px;
    }
}

main {
    flex: 1 1 auto;
}

.link-vector {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(244, 240, 236);

    position: relative;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.article {
    padding: 21px;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 62px;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    height: 100%;
    display: flex;
    flex-direction: column;

    &__picture {
        border-radius: 40px 40px 0 0;
        // max-width: 340px;
        position: relative;
        line-height: 0;
        margin-bottom: 21px;
        overflow: hidden;
        height: 289.77px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & span {
            position: absolute;
            bottom: 26px;
            left: 21px;
            padding: 12px;
            background-color: white;
            border-radius: 8px 8px 8px 0px;

            color: $colorSelectLightGray;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 1%;
            text-transform: capitalize;
        }
    }

    &__title {
        color: $colorSelectGray;
        font-family: 'DM Serif Display';
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 2%;
        width: 305px;
        margin-bottom: 30px;
        flex-grow: 1;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__link {
        width: 52px;
        height: 52px;
    }

    &__date {
        color: $colorSelectLightGray;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 1%;
        text-transform: capitalize;
    }
}




.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    flex: 0 0 33.333%;
    padding-bottom: 80px;

    &__left-part {
        flex: 0 0 33.333%;
    }

    &__logo {
        margin-bottom: 18px;
    }

    &__text {
        color: $colorSelectLightGray;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1%;
        margin-bottom: 31px;
    }

    &__icons {
        display: flex;
        gap: 54px;
    }

    &__links {
        flex: 0 0 33.333%;
        padding-left: 80px;
    }


    &__title {
        color: $colorSelectGray;
        font-family: 'DM Serif Display';
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 0%;
        margin-bottom: 26px;
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__link {
        color: $colorSelectLightGray;
        font-size: 22px;
        line-height: 300%;
        letter-spacing: 1%;
    }

    &__contact {
        flex: 0 0 33.333%;
        padding-left: 140px;

        & span {
            display: inline-block;
            color: $colorSelectLightGray;
            font-size: 22px;
            letter-spacing: 1%;
            margin-bottom: 30px;

            & a {
                color: $colorSelectLightGray;
            }
        }
    }
}